@use "variables" as v;
@use "mixins" as m;
@use "placeholders";
@use "sass:color";

.about {
  padding: 66px 0 185px 0;
  width: 100%;
  border-bottom: 1px solid v.$white;
  // .about__wrapper

  &__wrapper {
    margin: 0 auto;
    max-width: 1260px;
    width: 100%;
    text-align: center;
  }

  // .about__wrapper-title

  &__wrapper-title {
    padding: 0 0 81px 0;
    @include m.font(60px, 400, 1, v.$white);
    @media (max-width: v.$media_m) {
      @include m.font(40px, 400, 1, v.$white);
      padding: 0 0 50px 0;
    }
  }

  // .about__cards

  &__cards {
    @include m.d-flex(space-between, center, wrap, row, 70px, 200px);

    @media (max-width: v.$media_l) {
      @include m.d-flex(space-between, center, wrap, row, 70px, 90px);
    }
    @media (max-width: v.$media_m) {
      justify-content: space-around;
      gap: 95px;
    }
  }
  @media (max-width: v.$media_m) {
    padding: 30px 0 100px 0;
  }
  @media (max-width: v.$media_s) {
    padding: 5px 0 50px 0;
  }
}

.card {
  background-color: color.adjust(v.$white, $alpha: -0.9);
  border-radius: 20px;
  @include m.d-flex(center, center, wrap, column);
  width: 180px;
  height: 195px;
  padding: 0 13px 0 13px;
  text-align: center;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  // .card__lamp

  &__lamp {
    width: 27px;
    height: 40px;
  }

  // .card__title

  &__title {
    @include m.font(18px, 500, 1, v.$black);
    padding: 8px 0px 16px 0px;
    box-sizing: border-box;
  }

  // .card__content

  &__content {
    @include m.font(16px, 300, 1.13, v.$black);
  }
  @extend %hover-cards;

  // .card__laptop

  &__laptop {
    width: 47px;
    height: 38px;
  }

  // .card__net

  &__net {
    width: 51px;
    height: 32px;
  }

  // .card__work

  &__work {
    width: 43px;
    height: 41px;
  }

  // .card__test

  &__test {
    width: 44px;
    height: 42px;
  }

  // .card__integration

  &__integration {
    width: 42px;
    height: 36px;
  }
}

@media (max-width: v.$media_xl) {
}
