@use "variables" as v;
@use "fonts";

* {
  font-family: roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$bacground-blue;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: roboto;
}
