body {
  background-color: white;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: roboto;
}
