@font-face {
  font-family: "roboto";
  src: url(../assets/Fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "roboto";
  src: url(../assets/Fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "roboto";
  src: url(../assets/Fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "roboto";
  src: url(../assets/Fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
