@mixin d-flex(
  $justify: center,
  $align-items: center,
  $flexwrap: nowrap,
  $direction: row,
  $row-gap: 0,
  $columngap: 0
) {
  display: flex;
  justify-content: $justify;
  align-items: $align-items;
  flex-wrap: $flexwrap;
  flex-direction: $direction;
  row-gap: $row-gap;
  column-gap: $columngap;
}

@mixin position(
  $type: relative,
  $zindex: 1,
  $inset: -1,
  $top-or-bottom: top,
  $left-or-right: left,
  $value1: 0,
  $value2: 0
) {
  position: $type;
  z-index: $zindex;

  @if $inset> -1 {
    inset: $inset;
  } @else {
    #{$top-or-bottom}: $value1;
    #{$left-or-right}: $value2;
  }
}

@mixin font($size: 16px, $weight: 400, $line: 1, $color: #fff, $style: normal) {
  font: {
    size: $size;
    weight: $weight;
    style: $style;
  }
  color: $color;
  line-height: $line;
}
