@use "variables" as v;

%hower-black {
  &:hover {
    color: v.$black;
    cursor: pointer;
  }
}

%hower-sbg-black {
  &:hover {
    fill: v.$black;
  }
}

%hower-light {
  &:hover {
    color: v.$white;
    cursor: pointer;
  }
}
