$black: #000;
$white: #fff;
$bacground-blue: #678ff2;
$blue-alpha: rgba(255, 255, 255, 0.1);

$media_xxl: 1400px;
$media_xl: 1200px;
$media_l: 992px;
$media_m: 768px;
$media_s: 576px;
$media_xs: 428px;
