@use "importer" as i;

.container {
  display: flex;
  max-width: 1000px;
  max-height: 1000px;
  justify-content: center;
  align-items: center;
  .main {
    max-width: 500px;
    max-height: 500px;
    background-color: i.$bodycolor;
  }
}
